<%= form_with(model: reward) do |form| %>
  <div>
    <%= form.label :recipient, style: "display: block" %>
    <%= form.text_field :recipient %>
    <% if reward.errors[:recipient].any? %>
      <div style="color: red"><%= reward.errors[:recipient].join(', ') %></div>
    <% end %>
  </div>

  <div>
    <% RewardType.all.each do |reward_type| %>
      <div>
        <%= form.radio_button :reward_type_id, reward_type.id %>
        <%= reward_type.name %>
      </div>
    <% end %>
    <% if reward.errors[:reward_type].any? %>
      <div style="color: red"><%= reward.errors[:reward_type].join(', ') %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
    <% if reward.errors[:amount].any? %>
      <div style="color: red"><%= reward.errors[:amount].join(', ') %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
