<tr id="<%= dom_id reward %>">
  <td><%= reward.recipient %></td>
  <td><%= reward.reward_type.name %></td>
  <td><%= number_to_currency(reward.amount) %></td>
  <td><%= reward.status %></td>
  <td><%= reward.sent_at %></td>
  <td><%= reward.delivery_times %></td>
</tr>
