<div id="<%= dom_id reward %>">
  <p>
    <strong>Recipient:</strong>
    <%= reward.recipient %>
  </p>

  <p>
    <strong>Reward type:</strong>
    <%= reward.reward_type_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= reward.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reward.status %>
  </p>

  <p>
    <strong>Sent at:</strong>
    <%= reward.sent_at %>
  </p>

  <p>
    <strong> Delivery Times: </strong>
    <%= reward.delivery_times %>
  </p>

</div>
